networkx==3.2.1
spacy==3.7.4
pytest==8.4.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
networkx==3.1
spacy==3.7.2
pytest==7.4.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
transformers==4.53.0
torch==2.8.0
Pillow==10.3.0
